name: PHPUnit

on: [ push ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP 8.3
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - uses: php-actions/composer@v6
        with:
          php_version: "8.3"

      - name: PHPUnit Tests
        uses: php-actions/phpunit@v3
        with:
          php_version: 8.3
          php_extensions: xdebug
          configuration: tests/phpunit.xml
        env:
          XDEBUG_MODE: coverage